.wrapper
  .main-content
    div(ng-class="{full: !step, half: step}")
      .box.pad
        h1 {{ 'STEP.TITLE' | translate }}
        p {{ 'STEP.DESCRIPTION' | translate }}
        draggable-content-table(entity-type="Step", properties="properties", query="query", weight="weight")
      .box.pad
        h2 {{ 'STEP.ADDSTEP' | translate }}
        form.form.form-horizontal(name="addStepForm", ng-submit="addStep()")
          .form-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="newStep.name", required)
          .form-group
            label.control-label(for="description") {{'GLOBAL.DESCRIPTION' | translate }}
            .controls
              textarea(name="description", ng-model="newStep.description")
          .form-actions
            input.btn.btn-primary(type="submit", name="save", value="{{ 'GLOBAL.SAVE' | translate}}")
    .half(ng-show="step")
      .box.pad
        button.pull-right.btn.btn-danger(ng-click="removeStep(step)")
          i.icon-remove
          span {{ 'GLOBAL.REMOVE' | translate }}
        h2 {{step.name}}
        form.form.form-horizontal(name="editStepForm")
          cmf-autosave-status(status="autosave")
          .form-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="step.name", required)
          .form-group
            label.control-label(for="description") {{ 'GLOBAL.DESCRIPTION' | translate }}
            .controls
              textarea(name="description", ng-model="step.description")
