nav.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
  .navbar-header
    button.navbar-toggle(type="button", ng-click="navbar=!navbar")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="#/dashboard")
      img(src="images/logo_white.svg", width="100", height="30")
  .collapse.navbar-collapse.navbar-ex1-collapse(collapse="!navbar")
    konzilo-menu.nav.navbar-nav.mainMenu(menu="mainMenu")
    ul.nav.navbar-nav.navbar-right.right-menu
      li.dropdown
        a.dropdown-toggle(href="#/settings/targets", kz-user-access="administer system")
          i.icon-cog
          span {{ 'GLOBAL.SETTINGS' | translate }}
          b.caret
        konzilo-menu.dropdown-menu(menu="settingsMenu")
      li
        language-switcher
      li
        user-info
      li
        kz-logout
