
<div class="container-fluid main-content">
  <div class="row-fluid">
    <div class="span3">
      <div class="box pad">
        <div kntnt-article-deliver="kntnt-article-deliver" link-pattern="#/deliver/:part" states="states" selected="articlePart"></div>
      </div>
    </div>
    <div ng-show="!articlePart" class="span9">
      <div class="box pad">
        <h1>{{'DELIVER.TITLE' | translate}}</h1>
        <p>{{'DELIVER.DESCRIPTION' | translate}}</p>
      </div>
    </div>
    <div ng-show="articlePart" class="span5">
      <section class="articles">
        <div class="box pad articleinfo">
          <div class="inner">
            <konzilo-articlepart-form article-part="articlePart" use-auto-save="useSave"></konzilo-articlepart-form>
            <div class="well">
              <konzilo-articlepart-change-state article-part="articlePart"></konzilo-articlepart-change-state>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div ng-show="articlePart" class="span4">
      <div class="tabbed-box">
        <tabset>
          <tab heading="{{'GLOBAL.ORDER' | translate}}">
            <div class="inner pad form form-horizontal article-description">
              <div ng-show="part.deadline" class="control-group">
                <label for="date" class="control-label">{{'GLOBAL.DEADLINE' | translate}}</label>
                <div class="controls"><span>{{part.deadline | date: "yyyy-MM-dd"}}</span></div>
              </div>
              <div ng-show="part.terms" class="control-group">
                <label for="terms" class="control-label">{{'GLOBAL.TERMS' | translate}}</label>
                <div class="controls">
                  <ul class="keywords">
                    <li ng-repeat="term in part.terms" class="item"><a href="{{term.uri}}">{{term.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div ng-show="part.language" class="control-group">
                <label for="submitter" class="control-label">{{'GLOBAL.LANGUAGE' | translate}}</label>
                <div class="controls"><span>{{part.language}}</span></div>
              </div>
              <div ng-show="target" class="control-group">
                <label for="target" class="control-label">{{'GLOBAL.TARGET' | translate}}</label>
                <div class="controls"><span markdown="target.description"></span><a ng-click="showAnalysis(target)">{{'GLOBAL.SHOW_ANALYSIS' | translate}}</a></div>
              </div>
              <div ng-show="part.article.step" class="control-group">
                <label for="steps" class="control-label">{{'GLOBAL.STEP' | translate}}</label>
                <div class="controls"><span>{{ target.steps[part.article.step].description }}</span></div>
              </div>
              <div ng-show="part.article.channel" class="control-group">
                <label class="control-label">{{'GLOBAL.CHANNEL' | translate}}</label>
                <div class="controls"><span>{{ channel.description }}</span></div>
              </div>
              <div ng-show="part.article.step" class="control-group">
                <label for="target" class="control-label">{{'GLOBAL.SUBJECT' | translate}}</label>
                <div class="controls"><span ng-show="part.article.topic">{{ 'GLOBAL.TARGET_TOPIC_SPEC' | translate }}</span></div>
              </div>
              <div class="control-group">
                <label class="control-label">Sökord</label>
                <div class="controls">
                  <ul class="keywords">
                    <li ng-repeat="item in part.article.keywords" class="label label-info"><span>{{item}}</span></li>
                  </ul>
                </div>
              </div>
              <div class="control-group">
                <label for="assignment" class="control-label">{{'GLOBAL.ARTICLE_IDEA' | translate }}</label>
                <div class="controls">
                  <div markdown="part.article.description" class="text"></div>
                </div>
              </div>
              <div class="control-group">
                <label for="assignment" class="control-label">{{'GLOBAL.TASK' | translate}}</label>
                <div class="controls">
                  <div markdown="part.assignment" class="text"></div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="{{'GLOBAL.DISCUSSION' | translate}}">
            <div class="inner pad">
              <konzilo-comments ng-model="part.comments"></konzilo-comments>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>