
<div class="tabbed-box">
  <tabset>
    <tab heading="{{'GLOBAL.ORDER' | translate}}">
      <div class="pad">
        <div class="inner form form-horizontal article-description">
          <div ng-show="part.deadline" class="form-group">
            <label class="control-label">{{'GLOBAL.DEADLINE' | translate}}</label>
            <div class="controls"><span>{{part.deadline | date: "yyyy-MM-dd"}}</span></div>
          </div>
          <div ng-show="part.terms" class="form-group">
            <label for="terms" class="control-label">{{'GLOBAL.TERMS' | translate}}</label>
            <div class="controls">
              <ul class="keywords">
                <li ng-repeat="term in part.terms" class="item"><a href="{{term.uri}}">{{term.name}}</a></li>
              </ul>
            </div>
          </div>
          <div ng-show="language" class="form-group">
            <label class="control-label">{{'GLOBAL.LANGUAGE' | translate}}</label>
            <div class="controls"><span>{{language.name}}</span></div>
          </div>
          <div ng-show="target" class="form-group">
            <label for="target" class="control-label">{{'GLOBAL.TARGET' | translate}}</label>
            <div class="controls"><span markdown="target.description"></span><a ng-click="showAnalysis(target)">{{'GLOBAL.SHOW_ANALYSIS' | translate}}</a></div>
          </div>
          <div ng-show="article.step" class="form-group">
            <label for="steps" class="control-label">{{'GLOBAL.STEP' | translate}}</label>
            <div class="controls"><span>{{ target.steps[part.article.step].description }}</span></div>
          </div>
          <div ng-show="article.channel" class="form-group">
            <label class="control-label">{{'GLOBAL.CHANNEL' | translate}}</label>
            <div class="controls"><span>{{ channel.description }}</span></div>
          </div>
          <div ng-show="article.step" class="form-group">
            <label for="target" class="control-label">{{'GLOBAL.SUBJECT' | translate}}</label>
            <div class="controls"><span ng-show="article.topic">{{ 'GLOBAL.TARGET_TOPIC_SPEC' | translate }}</span></div>
          </div>
          <div ng-show="article.keywords" class="form-group">
            <label class="control-label">{{ 'GLOBAL.KEYWORDS' | translate }}</label>
            <div class="controls">
              <ul class="keywords">
                <li ng-repeat="item in article.keywords" class="label label-info"><span>{{item}}</span></li>
              </ul>
            </div>
          </div>
          <div ng-show="article.description" class="form-group">
            <label for="assignment" class="control-label">{{'GLOBAL.ARTICLE_IDEA' | translate }}</label>
            <div class="controls">
              <div markdown="article.description" class="text"></div>
            </div>
          </div>
          <div ng-show="part.assignment" class="form-group">
            <label for="assignment" class="control-label">{{'GLOBAL.TASK' | translate}}</label>
            <div class="controls">{{part.assignment}}</div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="{{ 'GLOBAL.DISCUSSION' | translate }}">
      <div class="inner pad">
        <konzilo-comments ng-model="part.comments"></konzilo-comments>
      </div>
    </tab>
  </tabset>
</div>