.articleparts
  .row-item(
    ng-repeat="article in articles",
    ng-class="{'active': selected._id == article._id}")
    a.link-block(ng-click="toggleArticle(article)")
      .pull-right
        span {{ article.publishdate | date: "EEE yyyy-MM-dd" }}
        button.btn-link
          i(ng-class="{ 'icon-chevron-down': selectedArticle == article._id, 'icon-chevron-right': selectedArticle != article._id }")
      .top
        span(class="article-state {{article.state}}")
        span {{article.title}}
    .parts(ng-show="selectedArticle == article._id")
      a.row-item(ng-repeat="part in article.parts", ng-href="{{part.link}}", ng-class="{'active': selectedId == part._id}")
        span(class="article-state {{part.state}}")
        span {{part.title}}
