.container-fluid.main-content
  .row-fluid
    div(ng-class="mainClass()")
      section.articleinfo
          .box.pad
            h2 {{"GROUP.TITLE" | translate}}
            content-table(entity-type="Group", properties="properties", query="query")
            form.form.form-inline(name="addGroupForm", ng-submit="addGroup()")
              input(type="text", name="name", ng-model="newGroup.name",
                    placeholder="{{ 'GROUP.CREATENEW' | translate }}", required)
              input.btn.btn-primary(type="submit", name="save", value="{{'GROUP.CREATE' | translate}}")

    .span6(ng-show="group")
      .box.pad
        form.form.form-horizontal(name="editGroupForm")
          h3 {{group.name}}
          .control-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="group.name", required)
          .control-group
            label.control-label {{'GLOBAL.USER' | translate}}
            .controls
              ul
                li(ng-repeat="user in group.members")
                  span {{user.username}}
                  button.btn.btn-link(ng-click="removeUser(user)")
                    i.icon-remove

              ng-form(name="userInput")
                entity-reference(entity-type="User", ng-model="newUser")
                button.btn.btn-primary(ng-click="addUser()") {{ 'GLOBAL.APPEND' | translate }}
