.login-form
  img(src="images/logo_white.svg", width="600")
  .box.pad
    form.form(name="loginForm", ng-submit="loginUser()", ng-show="!showReset")
      .alert.alert-danger(ng-show="message") {{message | translate}}
      .alert.alert-succes(ng-show="successMessage") {{ successMessage | translate }}
      .form-group
        label.control-label {{ 'LOGIN.USERNAMEOREMAIL' | translate }}
        .controls
          input(type="text", name="username", ng-model="username", required)
      .form-group
        label.control-label {{ 'GLOBAL.PASSWORD' | translate }}
        .controls
          input(type="password", name="password", ng-model="password", required)
          span.help-block
            a(href="/#/resetpassword") {{'LOGIN.FORGOTPASSWORD' | translate}}
      .form-group
        .form-actions
          input.btn.btn-primary(type="submit", value="{{ 'LOGIN.LOGIN' | translate }}")
    form.form(name="forgotPasswordForm", ng-submit="sendPassword()", ng-show="showReset")
      .form-group
        label.control-label {{'GLOBAL.EMAIL' | translate}}
        .controls
          input(type="text", name="forgotpassword", ng-model="forgot", required)
       .form-group
         .controls
           input.btn.btn-primary(type="submit", value="{{'LOGIN.RETRIEVEPASSWORD' | translate}}")
           button.btn.btn-link(type="button", ng-click="showReset = !showReset") {{'LOGIN.BACK' | translate}}
