.login-form
  .box.pad
    form.form(name="forgotPasswordForm", ng-submit="sendPassword()")
      .alert.alert-danger(ng-show="errorMessage") {{errorMessage | translate}}
      .alert.alert-success(ng-show="successMessage") {{ successMessage | translate }}
      .form-group
        label.control-label {{'GLOBAL.EMAIL' | translate}}
        .controls
          input(type="text", name="forgotpassword", ng-model="forgot", required)
       .form-group
         .controls
           input.btn.btn-primary(type="submit", value="{{'LOGIN.RETRIEVEPASSWORD' | translate}}")
           a.btn-link.btn(ng-href="/#/login") {{'LOGIN.BACK' | translate}}
