.wrapper
  .main-content.user-mgmt
    .half(ng-class="userGrid()")
      .box.pad
        h1 Användare
        content-table(items="users", properties="properties",
          id="username", selected="selected", entity="entity")
        user-add-form
    .half(ng-show="user")
      .box.pad
        user-edit-form(user="user")
