.wrapper
  .main-content
    .half(ng-class="userGrid()")
      section.articleinfo
          .box.pad
            h2 Användare
            content-table(items="users", properties="properties",
              id="username", selected="selected", entity="entity")
            user-add-form
    .half(ng-show="user")
      .box.pad
        user-edit-form(user="user")
