form.form.user-form.form-horizontal(name="userForm")
  .title
      h2 {{user.username}}
      cmf-autosave-status(status="autosave")

  .form-group
    label.control-label {{'GLOBAL.USERNAME' | translate}}
    .controls
      input(type="text", name="username", ng-model="username", placeholder="{{'GLOBAL.USERNAME' | translate}}")
      .confirm(ng-show="username != user.username")
        button.btn.btn-danger(ng-click="user.username = username") {{'USER.CONFIRMUSERNAMECHANGE' | translate}}
        span.help-block {{'USER.CONFIRMUSERNAMECHANGEMESSAGE' | translate}}

  .form-group
    label.control-label {{'USER.DISPLAYNAME' | translate}}
    .controls
      input(type="text", name="displayname", ng-model="user.displayname", placeholder="{{'USER.DISPLAYNAME' | translate}}")
  .form-group
    label.control-label {{'USER.FULLNAME' | translate}}
    .controls
      input.input-half.first(type="text", name="firstname", ng-model="user.firstname", ng-change="aggregateDisplayName()", placeholder="{{'USER.FIRSTNAME' | translate}}")
      input.input-half.last(type="text", name="lastname", ng-model="user.lastname", ng-change="aggregateDisplayName()", placeholder="{{'USER.LASTNAME' | translate}}")
  .form-group
    label.control-label.col-lg-2 {{'GLOBAL.EMAIL' | translate}}
    .controls.col-lg-10
      input(type="email", name="email", ng-model="user.email", required, ng-change="aggregateDisplayName()")
  .form-group(ng-show="showAdminFields")
    label.control-label {{'USER.ROLES' | translate}}
    .controls
      select(ng-model="user.roles", multiple="true")
        option(ng-repeat="(name, role) in roles", value="{{name}}", ng-selected="hasRole(name)") {{role.label}}
  .form-group(ng-show="showAdminFields")
    label.control-label {{'GLOBAL.LANGUAGE' | translate}}
    .controls
      select(ng-model="user.language")
        option(ng-repeat="(name, language) in languages", value="{{name}}", ng-selected="name == user.language") {{language.name}}
  .form-group
    label.control-label {{'GLOBAL.PASSWORD' | translate}}
    .controls
      input(type="password", name="password", ng-model="user.password", placeholder="{{'GLOBAL.PASSWORD' | translate}}")
      input(type="password", name="password2", ng-model="password2", placeholder="{{'USER.PASSWORDREPEAT' | translate}}")
      .help-block {{'USER.PASSWORDDESC' | translate}}
  .form-group(ng-show="showAdminFields")
    label.control-label {{'USER.ACTIVE' | translate}}
    .controls
      label.checkbox
        input(type="checkbox", name="active", ng-model="user.active")
  author-picker(author="user.author")
