.wrapper
  .main-content
    .list.box.pad(ng-class="{visible: user}")
      form.new-user.add-article(ng-submit="addUser()", name="newUserForm")
        .form-inline
          .form-group
            input(type="email", ng-model="email", placeholder="{{'GLOBAL.EMAIL' | translate}}", required)
          button.btn.btn-default.add-article
            i.icon-plus
        label.checkbox
          input(type="checkbox", ng-model="notify")
          span {{'USER.NOTIFY' | translate}}            
      .users
        .row-item(ng-repeat="user in users")
          a.block(ng-href="#/settings/users/{{user._id}}") {{user.displayname}}
          button.btn-link.clipboard-remove(ng-click="removeUser(user)", ng-show="user.removable")
            i.icon-remove
    .main-full
      .main(ng-show="user")
        .box.pad
          user-edit-form(user="user")
      .additional(ng-show="user")
        .tabbed-box
          tabset
            tab(heading="{{ 'GLOBAL.DISCUSSION' | translate }}")
              .pad
                konzilo-comments(ng-model="user.adminComments")
            tab(heading="{{'GLOBAL.NOTES' | translate}}")
              .pad
                markdown-editor(ng-model="user.adminNotes")

