.settings-modal
  .modal-header
    h1 {{target.name}}
  .modal-body
    p {{target.description}}
    .form.form-horizontal.article-description
      .form-group(ng-class="name", ng-repeat="(name, mood) in target.analysis")
        label.control-label {{moods[name] | translate}}
        .controls
          ul
            li(ng-repeat="word in mood") {{word}}
      .form-group(ng-show="target.pain")
        label.control-label {{'TARGET.PAIN' | translate}}
        .controls
          p {{target.pain}}
      .form-group(ng-show="target.gain")
        label.control-label {{ 'TARGET.GAIN' | translate }}
        .controls
          p {{target.gain}}

  .modal-footer
    button(ng-click="close()").btn.btn-primary {{ 'GLOBAL.CLOSE' | translate }}
