
<div class="wrapper">
  <div class="main-content">
    <div class="list">
      <div class="box">
        <form ng-submit="newVocabulary()" class="form-inline new-vocabulary-form">
          <div class="form-group">
            <input type="text" name="target" ng-model="vocabularyName" placeholder="" class="form-control"/>
          </div>
          <input type="submit" name="newstep" value="Spara" class="btn btn-primary"/>
        </form>
      </div>
      <div class="item-list">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="vocabulary in vocabularies"><a href="#/settings/vocabularies/{{vocabulary.name}}">{{ vocabulary.title }}</a></li>
        </ul>
      </div>
    </div>
    <div ng-show="vocabulary" class="main">
      <div class="box pad">
        <button ng-click="removeVocabulary(vocabulary)" class="btn btn-danger pull-right"><i class="icon-remove"></i><span>{{ 'VOCABULARY.REMOVE' | translate }}</span></button>
        <h1>{{vocabulary.title}}</h1>
        <form ng-submit="saveVocabulary()" name="vocabularyForm" class="pad form">
          <div class="form-group">
            <label class="control-label">{{ 'GLOBAL.TITLE' | translate }}</label>
            <div class="controls">
              <input type="text" name="title" ng-model="vocabulary.title" ng-change="saveVocabulary()"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">{{ 'GLOBAL.DESCRIPTION' | translate }}</label>
            <div class="controls">
              <textarea name="description" ng-model="vocabulary.description" ng-change="saveVocabulary()" class="input-block-level"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="box pad">
        <content-table query="query" entity-type="Term" properties="properties"></content-table>
        <form name="newTermForm" ng-submit="newTerm()" class="form-inline">
          <div class="form-group">
            <input type="text" name="termname" ng-model="termName" placeholder="{{'VOCABULARY.NEWTERM' | translate}}"/>
          </div>
          <button name="newTerm" class="btn btn-primary"><i class="icon-plus"></i></button>
        </form>
      </div>
    </div>
    <div ng-show="term" class="additional">
      <div class="box">
        <h2>{{term.name}}</h2>
        <form name="termForm" class="pad form">
          <cmf-autosave-status status="autosave"></cmf-autosave-status>
          <div class="form-group">
            <label class="control-label">{{'GLOBAL.NAME' | translate }}</label>
            <div class="controls">
              <input type="text" name="name" ng-model="term.name" ng-change="saveTerm()"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">{{ 'GLOBAL.DESCRIPTION' | translate }}</label>
            <div class="controls">
              <textarea name="description" ng-model="term.description" class="input-block-level"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>