
<form name="userForm" class="form user-form form-horizontal">
  <div class="title">
    <h2>{{user.username}}</h2>
    <cmf-autosave-status status="autosave"></cmf-autosave-status>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">{{'GLOBAL.EMAIL' | translate}}</label>
    <div class="controls col-lg-10">
      <input type="email" name="email" ng-model="user.email"/>
    </div>
  </div>
  <div ng-show="showAdminFields" class="form-group">
    <label class="control-label">{{'USER.ROLES' | translate}}</label>
    <div class="controls">
      <select ng-model="user.roles" multiple="true">
        <option ng-repeat="(name, role) in roles" value="{{name}}" ng-selected="hasRole(name)">{{role.label}}</option>
      </select>
    </div>
  </div>
  <div ng-show="showAdminFields" class="form-group">
    <label class="control-label">{{'GLOBAL.LANGUAGE' | translate}}</label>
    <div class="controls">
      <select ng-model="user.language">
        <option ng-repeat="(name, language) in languages" value="{{name}}" ng-selected="name == user.language">{{language.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">{{'GLOBAL.PASSWORD' | translate}}</label>
    <div class="controls">
      <input type="password" name="password" ng-model="user.password" placeholder="{{'GLOBAL.PASSWORD' | translate}}"/>
      <input type="password" name="password2" ng-model="password2" placeholder="{{'USER.PASSWORDREPEAT' | translate}}"/>
      <div class="help-block">{{'USER.PASSWORDDESC' | translate}}</div>
    </div>
  </div>
  <div ng-show="showAdminFields" class="form-group">
    <label class="control-label">{{'USER.ACTIVE' | translate}}</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" name="active" ng-model="user.active"/>
      </label>
    </div>
  </div>
  <author-picker author="user.author"></author-picker>
</form>