.wrapper
  .main-content
    div(ng-class="{full: !endpoint, half: endpoint}")
      .box.pad
        h1 {{'ENDPOINT.TITLE' | translate}}
        content-table(items="endpoints", properties="properties", id="name", selected="selected", operations="operations")
        h2 {{'ENDPOINT.ADDNEW' | translate}}
        form.form(name="addEndpointForm", ng-submit="addEndpoint()")
          .form-group
            label.control-label(for="name") {{'GLOBAL.NAME' | translate}}
            .controls
              input(type="text", name="name", ng-model="newEndpoint.name", required)
          .form-group
            label.control-label(for="langcode") {{'GLOBAL.TYPE' | translate}}
            .controls
              select(type="text", name="name", ng-model="type", required, ng-options="value.label for (key, value) in types", required)
          .form-group(ng-repeat="setting in type.settings")
            label.control-label {{setting.label | translate }}
            .controls
              input(type="text", ng-model="newEndpoint.settings[setting.name]", required)
          .form-actions
            input.btn.btn-primary(type="submit", value="{{'GLOBAL.SAVE' | translate}}")
    .half(ng-show="endpoint")
      .box.pad
        h2 {{endpoint.name}}
        form.form(name="editEndpointForm", ng-submit="addEndpoint()")
          cmf-autosave-status(status="autosave")
          .form-group
            label.control-label(for="name") {{'GLOBAL.NAME' | translate}}
            .controls
              input(type="text", name="name", ng-model="endpoint.name", required)
          .form-group(ng-repeat="setting in getSettings(endpoint.type)")
            label.control-label {{setting.label | translate }}
            .controls
              input(type="text", ng-model="endpoint.settings[setting.name]", required)
        form(method="POST", action="/endpoint/{{endpoint.name}}/authorize")
          .form-group
            .controls
              input.btn-primary.btn(type="submit", name="save", value="Auktorisera")
