ul
  li(ng-repeat="(index, item) in items", class="{{active(item)}}", ng-show="item")
    a(ng-href="{{item.path}}")
      i(class="{{item.icon}} icon", ng-show="item.icon")
      span {{item.label | translate}}
