.container-fluid.main-content
  .row-fluid
    .span3
      .box.pad
        div(kntnt-article-deliver, link-pattern="#/deliver/:part", states="states", selected="articlePart")
    .span9(ng-show="!articlePart")
      .box.pad
        h1 {{'DELIVER.TITLE' | translate}}
        p {{'DELIVER.DESCRIPTION' | translate}}
    .span5(ng-show="articlePart")
      section.articles
        .box.pad.articleinfo
          .inner
            konzilo-articlepart-form(article-part="articlePart", use-auto-save="useSave")
            konzilo-articlepart-change-state(article-part="articlePart")
    .span4(ng-show="articlePart")
      .tabbed-box
        tabset
          tab(heading="{{'GLOBAL.ORDER' | translate}}")
            .inner.pad.form.form-horizontal.article-description
              .control-group(ng-show="part.deadline")
                label.control-label(for="date") {{'GLOBAL.DEADLINE' | translate}}
                .controls
                  span {{part.deadline | date: "yyyy-MM-dd"}}
              .control-group(ng-show="part.terms")
                label.control-label(for="terms") {{'GLOBAL.TERMS' | translate}}
                .controls
                  ul.keywords
                    li.item(ng-repeat="term in part.terms")
                      a(href="{{term.uri}}") {{term.name}}
              .control-group(ng-show="part.language")
                label.control-label(for="submitter") {{'GLOBAL.LANGUAGE' | translate}}
                .controls
                  span {{part.language}}
              .control-group(ng-show="target")
                label.control-label(for="target") {{'GLOBAL.TARGET' | translate}}
                .controls
                  span(markdown="target.description")
                  a(ng-click="showAnalysis(target)") {{'GLOBAL.SHOW_ANALYSIS' | translate}}
              .control-group(ng-show="part.article.step")
                label.control-label(for="steps") {{'GLOBAL.STEP' | translate}}
                .controls
                  span {{ target.steps[part.article.step].description }}
              .control-group(ng-show="part.article.channel")
                label.control-label {{'GLOBAL.CHANNEL' | translate}}
                .controls
                  span {{ channel.description }}
              .control-group(ng-show="part.article.step")
                label.control-label(for="target") {{'GLOBAL.SUBJECT' | translate}}
                .controls
                  span(ng-show="part.article.topic") {{ 'GLOBAL.TARGET_TOPIC_SPEC' | translate }}
              .control-group
                label.control-label Sökord
                .controls
                  ul.keywords
                    li.label.label-info(ng-repeat="item in part.article.keywords")
                      span {{item}}
              .control-group
                label.control-label(for="assignment") {{'GLOBAL.ARTICLE_IDEA' | translate }}
                .controls
                  .text(markdown="part.article.description")
              .control-group
                label.control-label(for="assignment") {{'GLOBAL.TASK' | translate}}
                .controls
                  .text(markdown="part.assignment")
          tab(heading="{{'GLOBAL.DISCUSSION' | translate}}")
            .inner.pad
              konzilo-comments(ng-model="part.comments")
