.tabbed-box
  tabset
    tab(heading="{{'GLOBAL.ORDER' | translate}}")
      .pad
        .inner.form.form-horizontal.article-description
          .form-group(ng-show="part.deadline")
            label.control-label {{'GLOBAL.DEADLINE' | translate}}
            .controls
              span {{part.deadline | date: "yyyy-MM-dd"}}
          .form-group(ng-show="part.terms")
            label.control-label(for="terms") {{'GLOBAL.TERMS' | translate}}
            .controls
              ul.keywords
                li.item(ng-repeat="term in part.terms")
                  a(href="{{term.uri}}") {{term.name}}
          .form-group(ng-show="language")
            label.control-label {{'GLOBAL.LANGUAGE' | translate}}
            .controls
              span {{language.name}}
          .form-group(ng-show="target")
            label.control-label(for="target") {{'GLOBAL.TARGET' | translate}}
            .controls
              span(markdown="target.description")
              a(ng-click="showAnalysis(target)") {{'GLOBAL.SHOW_ANALYSIS' | translate}}
          .form-group(ng-show="article.step")
            label.control-label(for="steps") {{'GLOBAL.STEP' | translate}}
            .controls
              span {{ target.steps[part.article.step].description }}
          .form-group(ng-show="article.channel")
            label.control-label {{'GLOBAL.CHANNEL' | translate}}
            .controls
              span {{ channel.description }}
          .form-group(ng-show="article.step")
            label.control-label(for="target") {{'GLOBAL.SUBJECT' | translate}}
            .controls
              span(ng-show="article.topic") {{ 'GLOBAL.TARGET_TOPIC_SPEC' | translate }}
          .form-group(ng-show="article.keywords")
            label.control-label {{ 'GLOBAL.KEYWORDS' | translate }}
            .controls
              ul.keywords
                li.label.label-info(ng-repeat="item in article.keywords")
                  span {{item}}
          .form-group(ng-show="article.description")
            label.control-label(for="assignment") {{'GLOBAL.ARTICLE_IDEA' | translate }}
            .controls
              .text(markdown="article.description")
          .form-group(ng-show="part.assignment")
            label.control-label(for="assignment") {{'GLOBAL.TASK' | translate}}
            .controls
              {{part.assignment}}

    tab(heading="{{ 'GLOBAL.DISCUSSION' | translate }}")
      .inner.pad
        konzilo-comments(ng-model="part.comments")
