.markdown-editor
  .preview(markdown="ngModel") {{placeholder}}
  .editor
    .tools
      .btn-toolbar.clearfix
        .btn-group.dropdown(ng-repeat="tool in tools")
          a.btn.btn-default.dropdown-toggle.markdown-editor-control(ng-click="useTool(tool)")
            i(ng-class="tool.icon")
          ul.dropdown-menu(ng-show="tool.options")
            li(ng-repeat="(name, template) in tool.options")
              a.markdown-editor-control(ng-click="useTool(tool, name)") {{name}}

    textarea.markdown.markdown-editor-control.input-block-level(ng-model="ngModel")
