form.form-inline.add-article(ng-submit="addArticle()")
  input(type="text", name="name", ng-model="articleTitle",
    required,
    placeholder="{{'GLOBAL.NEWARTICLE' | translate}}")
  button.btn.add-article
    i.icon-plus
