form.form-inline.add-article(ng-submit="addArticle()")
  .form-group
    input(type="text", name="name", ng-model="articleTitle",
      required,
      placeholder="{{'GLOBAL.NEWARTICLE' | translate}}")
  button.btn.btn-default.add-article
    i.icon-plus
