form.form-inline.add-part-form(ng-submit="addArticlePart()",
  name="addArticlePartForm")
  select(name="type", ng-model="type", ng-options="key as value for (key, value) in types", required)
  button.btn.btn-link
    i.icon-plus
