.states
  .state(ng-repeat="state in states")
    .group(ui-jq="droppable", ui-options="droppableOptions", data-state="{{state.name}}")
      .top
        h2.title {{state.label | translate}}
      .articleparts.content
        a.row-item(
          ng-repeat="article in articles[state.name]",
          ng-href="#/deliver/{{article._id}}",
          ng-class="{'active': selected._id == article._id}")
          span(class="article-state {{article.state}}")
          span {{article.title}}
          span.pull-right {{ article.publishdate | date: "yyyy-MM-dd" }}
          .parts
            .row-item(ng-repeat="part in article.items")
              span(class="article-state {{part.state}}")
              span {{part.title}}
