ng-form(name="partForm")
  cmf-autosave-status(status="autosave")
  .form-horizontal.part-form
    .form-group(ng-show="showFields.topheadline")
      label.control-label {{'GLOBAL.TOPHEADLINE' | translate}}
      .controls
        cmf-inline(ng-model="content.topheadline")
          cmf-inline-preview
            i.icon-edit.pull-right
            span {{content.topheadline}}
          cmf-inline-input
            input(type="text", name="title", ng-model="content.topheadline", kz-focus="setActive()")
    .form-group(ng-show="showFields.headline")
      label.control-label {{ 'GLOBAL.HEADLINE' | translate }}
      .controls
        cmf-inline(ng-model="content.headline")
          cmf-inline-preview
            i.icon-edit.pull-right
            h1 {{content.headline}}
          cmf-inline-input
            input(type="text", name="headline", ng-model="content.headline", kz-focus="setActive()")
    .form-group(ng-show="showFields.kicker")
      label.control-label {{ 'GLOBAL.KICKER' | translate }}
      .controls
        cmf-inline(ng-model="content.kicker")
          cmf-inline-preview
            i.icon-edit.pull-right
            strong {{content.kicker}}
          cmf-inline-input
            input(type="text", name="headline", ng-model="content.kicker", kz-focus="setActive()")
    .form-group(ng-show="showFields.lead")
      label.control-label {{ 'GLOBAL.LEAD' | translate }}
      .controls
        cmf-inline(ng-model="content.lead")
          cmf-inline-preview
            i.icon-edit.pull-right
            strong {{content.lead}}
          cmf-inline-input
            textarea.input-block-level(type="text", name="lead", ng-model="content.lead", kz-focus="setActive()")
    .form-group(ng-show="showFields.body")
      label.control-label {{ 'GLOBAL.BODY' | translate }}
      .controls
        markdown-editor(ng-model="content.body")
    div(ng-show="useAuthor")
      div(author-picker, author="part.byline")
