ng-form(name="partForm")
  cmf-autosave-status(status="autosave")
  .form-horizontal.part-form
    .form-group(ng-show="showFields.images")
      label.control-label {{'IMAGEPART.UPLOADFILES' | translate}}
      .controls
        file-upload-list(ng-model="content.images", bundle="media")
    .form-group(ng-show="showFields.headline")
      label.control-label {{ 'GLOBAL.HEADLINE' | translate }}
      .controls
        cmf-inline(ng-model="content.headline")
          cmf-inline-preview
            i.icon-edit.pull-right
            h1 {{content.headline}}
          cmf-inline-input
            input(type="text", name="headline", ng-model="content.headline")
    .form-group(ng-show="showFields.description")
      label.control-label {{ 'GLOBAL.DESCRIPTION' | translate }}
      .controls
        cmf-inline(ng-model="content.description")
          cmf-inline-preview
            i.icon-edit.pull-right
            span {{content.description}}
          cmf-inline-input
            textarea.input-block-level(type="text", name="description", ng-model="content.description")
    div(ng-show="useAuthor")
      div(author-picker, author="part.byline")
