.states
  .state(ng-repeat="state in states")
    .group(ui-jq="droppable", ui-options="droppableOptions", data-state="{{state.name}}")
      .top
        h2.title {{state.label | translate}}
      .articleparts.content
        .row-item(ng-repeat="article in articles[state.name]")
          .header
             .pull-right
               span {{article.publishdate | date: 'yyyy-MM-dd' }}
               button.btn-link(ng-click="toggleArticle(article)")
                 i(
                  ng-class="{'icon-chevron-down': selectedArticle == article._id, 'icon-chevron-right': selectedArticle != article._id}"
                )
             .header-content
               div(class="article-state {{article.state}}")
               h3.title {{article.title}}
          .content(ng-show="selectedArticle == article._id")
            .inner
              a.row-item(href="{{part.link}}", ng-class="{active: selectedPart == part._id}", ui-jq="draggable", ng-repeat="(index, part) in article.items", data-id="{{part._id}}")
                div(class="article-state {{part.state}}")
                span() {{part.title}}
                .status {{ part.status }}
