ng-form(name="partForm")
  cmf-autosave-status(status="autosave")
  .form-horizontal.part-form
    .form-group(ng-show="showFields.media")
      label.control-label {{ 'MEDIAPART.MEDIA' | translate }}
      .controls
        cmf-inline(ng-model="content.media")
          cmf-inline-preview
            // @todo This needs to be redone in a safer way.
            .video(ng-bind-html-unsafe="video", ng-show="video")
            img(src="{{photo}}", ng-show="photo")
          cmf-inline-input
            input(type="url", ng-model="content.media", ng-change="showMedia()")
    .form-group(ng-show="showFields.title")
      label.control-label {{ 'GLOBAL.TITLE' | translate }}
      .controls
        cmf-inline(ng-model="content.title")
          cmf-inline-preview
            i.icon-edit.pull-right
            h1 {{content.title}}
          cmf-inline-input
            input(type="text", name="headline", ng-model="content.title")
    .form-group(ng-show="showFields.description")
      label.control-label {{ 'GLOBAL.DESCRIPTION' | translate }}
      .controls
        cmf-inline(ng-model="content.description")
          cmf-inline-preview
            i.icon-edit.pull-right
            strong {{content.description}}
          cmf-inline-input
            textarea.input-block-level(type="text", name="description", ng-model="content.description")
    author-picker(author="author")
