.picker-content
  .picker-body(collapse="isCollapsed")
    .picker-form
      .simple
        h2 {{ 'ARTICLEPICKER.TITLE' | translate }}
        p {{ 'ARTICLEPICKER.DESCRIPTION' | translate }}
        .form-group
          label.radio
            input(type="radio", name="articles", ng-model="selector", value="all", ng-change="showArticles()")
            span {{ 'ARTICLEPICKER.ALL' | translate }}
          label.radio
            input(type="radio", name="articles", ng-model="selector", value="recommended", ng-change="showArticles()")
            span {{ 'ARTICLEPICKER.RECOMMENDED' | translate }}
          label.radio
            input(type="radio", name="articles", ng-model="selector", value="advanced", ng-change="showArticles()")
            span {{ 'ARTICLEPICKER.CUSTOM' | translate }}
      .advanced
        h2 {{ 'ARTICLEPICKER.SELECTION' | translate }}
        konzilo-query-filters(builder="builder",
          description="{{ 'ARTICLEPICKER.SHOWARTICLES' | translate }}")

    .selection
      .article-info
        span {{ 'ARTICLE.FILTERCOUNT' | translate: translations }}
        button.btn.btn-link(ng-click="showTable()") {{ pickLabel | translate }}
      form.form.form-inline.pick-form(ng-show="tableShown")
            .form-group
              .controls
                input(type="text", name="search", ng-model="search", placeholder="{{'ARTICLEPICKER.SEARCHARTICLES' | translate}}")
            table.articles.table.table-striped(ng-show="articles && tableShown")
              tr
                th
                  input(type="checkbox", name="selectall", ng-model="selectall", ng-change="toggleSelect()")
                th {{ 'GLOBAL.TITLE' | translate }}
                th {{ 'GLOBAL.PUBLISHDATE' | translate }}
                th {{ 'GLOBAL.RESPONSIBLE' | translate }}
              tr.article(ng-repeat="article in articles | filter: search")
                td
                  input(type="checkbox", name="selected", ng-model="selected[article._id]")
                td {{article.title}}
                td {{article.publishdate | date: "yyyy-MM-dd" }}
                td {{article.responsible.label }}

           ul.pagination(ng-show="tableShown")
             li(ng-repeat="page in pages")
               button.btn-link(ng-click="getPage(page)") {{page + 1}}

           .actions
              button.btn-danger.btn(ng-click="clearClipboard()") {{'ARTICLEPICKER.EMPTYCLIPBOARD' | translate}}
              button.btn-primary.btn(ng-click="addArticles()", ng-disabled="count == 0") {{'ARTICLEPICKER.ADDSELECTED' | translate}}
              label.checkbox
                input(type="checkbox", name="purge", ng-model="purge", ng-disabled="count == 0")
                span {{ 'ARTICLEPICKER.EMPTYBEFORE' | translate }}


  .picker(ng-class="collapseClass()")
    button.btn.picker-btn(ng-click="isCollapsed = !isCollapsed")
      .inner
        span {{'ARTICLEPICKER.PICKER' | translate }}
        i.icon(ng-class="{'icon-circle-arrow-down': isCollapsed, 'icon-circle-arrow-up': !isCollapsed}")
