
<ng-form name="partForm">
  <cmf-autosave-status status="autosave"></cmf-autosave-status>
  <div class="form-horizontal part-form">
    <div ng-show="showFields.media" class="form-group">
      <label class="control-label">{{ 'MEDIAPART.MEDIA' | translate }}</label>
      <div class="controls">
        <cmf-inline ng-model="content.media">
          <cmf-inline-preview>
            <!-- @todo This needs to be redone in a safer way.-->
            <div ng-bind-html-unsafe="video" ng-show="video" class="video"></div><img src="{{photo}}" ng-show="photo"/>
          </cmf-inline-preview>
          <cmf-inline-input>
            <input type="url" ng-model="content.media" ng-change="showMedia()"/>
          </cmf-inline-input>
        </cmf-inline>
      </div>
    </div>
    <div ng-show="showFields.title" class="form-group">
      <label class="control-label">{{ 'GLOBAL.TITLE' | translate }}</label>
      <div class="controls">
        <cmf-inline ng-model="content.title">
          <cmf-inline-preview><i class="icon-edit pull-right"></i>
            <h1>{{content.title}}</h1>
          </cmf-inline-preview>
          <cmf-inline-input>
            <input type="text" name="headline" ng-model="content.title"/>
          </cmf-inline-input>
        </cmf-inline>
      </div>
    </div>
    <div ng-show="showFields.description" class="form-group">
      <label class="control-label">{{ 'GLOBAL.DESCRIPTION' | translate }}</label>
      <div class="controls">
        <cmf-inline ng-model="content.description">
          <cmf-inline-preview><i class="icon-edit pull-right"></i><strong>{{content.description}}</strong></cmf-inline-preview>
          <cmf-inline-input>
            <textarea type="text" name="description" ng-model="content.description" class="input-block-level"></textarea>
          </cmf-inline-input>
        </cmf-inline>
      </div>
    </div>
    <div ng-show="useAuthor">
      <author-picker author="author"></author-picker>
    </div>
  </div>
</ng-form>