
<ng-form name="partForm">
  <cmf-autosave-status status="autosave"></cmf-autosave-status>
  <div class="form-horizontal part-form">
    <div ng-show="showFields.topheadline" class="form-group">
      <label class="control-label">{{'GLOBAL.TOPHEADLINE' | translate}}</label>
      <div class="controls">
        <cmf-inline ng-model="content.topheadline">
          <cmf-inline-preview><i class="icon-edit pull-right"></i><span>{{content.topheadline}}</span></cmf-inline-preview>
          <cmf-inline-input>
            <input type="text" name="title" ng-model="content.topheadline" kz-focus="setActive()"/>
          </cmf-inline-input>
        </cmf-inline>
      </div>
    </div>
    <div ng-show="showFields.headline" class="form-group">
      <label class="control-label">{{ 'GLOBAL.HEADLINE' | translate }}</label>
      <div class="controls">
        <cmf-inline ng-model="content.headline">
          <cmf-inline-preview><i class="icon-edit pull-right"></i>
            <h1>{{content.headline}}</h1>
          </cmf-inline-preview>
          <cmf-inline-input>
            <input type="text" name="headline" ng-model="content.headline" kz-focus="setActive()"/>
          </cmf-inline-input>
        </cmf-inline>
      </div>
    </div>
    <div ng-show="showFields.kicker" class="form-group">
      <label class="control-label">{{ 'GLOBAL.KICKER' | translate }}</label>
      <div class="controls">
        <cmf-inline ng-model="content.kicker">
          <cmf-inline-preview><i class="icon-edit pull-right"></i><strong>{{content.kicker}}</strong></cmf-inline-preview>
          <cmf-inline-input>
            <input type="text" name="headline" ng-model="content.kicker" kz-focus="setActive()"/>
          </cmf-inline-input>
        </cmf-inline>
      </div>
    </div>
    <div ng-show="showFields.lead" class="form-group">
      <label class="control-label">{{ 'GLOBAL.LEAD' | translate }}</label>
      <div class="controls">
        <cmf-inline ng-model="content.lead">
          <cmf-inline-preview><i class="icon-edit pull-right"></i><strong>{{content.lead}}</strong></cmf-inline-preview>
          <cmf-inline-input>
            <textarea type="text" name="lead" ng-model="content.lead" kz-focus="setActive()" class="input-block-level"></textarea>
          </cmf-inline-input>
        </cmf-inline>
      </div>
    </div>
    <div ng-show="showFields.body" class="form-group">
      <label class="control-label">{{ 'GLOBAL.BODY' | translate }}</label>
      <div class="controls">
        <markdown-editor ng-model="content.body"></markdown-editor>
      </div>
    </div>
    <div ng-show="useAuthor">
      <div author-picker="author-picker" author="part.byline"></div>
    </div>
  </div>
</ng-form>