
<div class="articleparts">
  <p ng-show="size == 0">{{'CLIPBOARD.DESCRIPTION' | translate}}</p>
  <div ng-repeat="article in articles" class="row-item"><a ng-click="toggleArticle(article)" class="link-block">
      <div class="pull-right"><span>{{article.publishdate | date: 'EEE yyyy-MM-dd'}}</span>
        <button class="btn-link"><i ng-class="toggleIcon(article)"></i></button>
      </div>
      <div class="top">
        <div class="article-state {{article.state}}"></div>
        <h3 class="title">{{article.title}}</h3>
      </div></a>
    <div ng-show="active(article)" class="content">
      <div class="inner">
        <div ui-sortable="options" ng-model="article.parts" class="items">
          <div ng-class="activePart(part)" ng-repeat="(index, part) in article.parts" data-id="{{article._id}}" class="row-item"><a ng-href="{{part.link}}" class="block"><span class="article-state {{part.state}}"></span><span>{{part.title}}</span></a>
            <button ng-click="removeArticlePart(article, part)" class="btn-link clipboard-remove"><i class="icon-remove"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <kz-entity-pager collection="collection" items-fetched="nextPage"></kz-entity-pager>
</div>