
<div class="states">
  <div ng-repeat="state in states" class="state">
    <div ui-jq="droppable" ui-options="droppableOptions" data-state="{{state.name}}" class="group">
      <div class="top">
        <h2 class="title">{{state.label | translate}}</h2>
      </div>
      <div class="articleparts content">
        <div ng-repeat="article in articles[state.name]" class="row-item"><a ng-click="toggleArticle(article)" class="link-block">
            <div class="pull-right"><span>{{ article.publishdate | date: "yyyy-MM-dd" }}</span>
              <button class="btn-link"><i ng-class="{'icon-chevron-down': selectedArticle == article._id, 'icon-chevron-right': selectedArticle != article._id}"></i></button>
            </div>
            <div class="header-content"><span class="article-state {{article.state}}"></span><span>{{article.title}}</span></div></a>
          <div ng-show="selectedArticle == article._id" class="parts"><a ng-repeat="part in article.items" ng-href="{{part.link}}" ng-class="{'active': selectedId == part._id}" class="row-item"><span class="article-state {{part.state}}"></span><span>{{part.title}}</span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>