
<ng-form name="partForm" class="form form-horizontal">
  <div class="title">
    <cmf-autosave-status status="autosave"></cmf-autosave-status>
    <h2>{{ 'MEDIAPART.TITLE' | translate }}</h2>
  </div>
  <div class="control-group">
    <label class="control-label">{{ 'MEDIAPART.MEDIA' | translate }}</label>
    <div class="controls">
      <cmf-inline ng-model="content.media">
        <cmf-inline-preview>
          <!-- @todo This needs to be redone in a safer way.-->
          <div ng-bind-html-unsafe="video" ng-show="video" class="video"></div><img src="{{photo}}" ng-show="photo"/>
        </cmf-inline-preview>
        <cmf-inline-input>
          <input type="url" ng-model="content.media" ng-change="showMedia()"/>
        </cmf-inline-input>
      </cmf-inline>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ 'GLOBAL.TITLE' | translate }}</label>
    <div class="controls">
      <cmf-inline ng-model="content.title">
        <cmf-inline-preview><i class="icon-edit pull-right"></i>
          <h1>{{content.title}}</h1>
        </cmf-inline-preview>
        <cmf-inline-input>
          <input type="text" name="headline" ng-model="content.title"/>
        </cmf-inline-input>
      </cmf-inline>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ 'GLOBAL.DESCRIPTION' | translate }}</label>
    <div class="controls">
      <cmf-inline ng-model="content.description">
        <cmf-inline-preview><i class="icon-edit pull-right"></i><strong>{{content.description}}</strong></cmf-inline-preview>
        <cmf-inline-input>
          <textarea type="text" name="description" ng-model="content.description" class="input-block-level"></textarea>
        </cmf-inline-input>
      </cmf-inline>
    </div>
  </div>
  <author-picker author="part.byline"></author-picker>
  <kz-vocabulary-input ng-model="part.vocabularies"></kz-vocabulary-input>
</ng-form>