
<div class="clipboard-articles">
  <div class="box pad">
    <div kntnt-add-article="kntnt-add-article" article-created="articleCreated" inherits="unscheduled[0]"></div>
    <div kz-max-height="220" class="articles">
      <div class="unscheduled">
        <div class="inner"><a ng-repeat="article in unscheduled" href="{{link(article)}}" ng-class="activeArticle(article)" class="row-item"><span class="article-state {{article.state}}"></span><span>{{article.title}}</span>
            <button ng-click="removeFromClipboard(article)" class="btn-link clipboard-remove"><span>{{'GLOBAL.HIDE' | translate}}</span></button></a></div>
      </div>
      <div class="scheduled">
        <div class="inner">
          <div class="articles sortable">
            <div ng-repeat="(index, date) in dates" class="period"><a ng-click="toggleMonth(date)" class="toggle-period">
                <h3><i ng-class="{'icon-chevron-down': !monthHidden[date], 'icon-chevron-right': monthHidden[date]}"></i><span>{{ getDate(date) | date: 'MMMM' }}</span></h3></a>
              <div ng-show="!monthHidden[date]" class="content"><a ng-class="activeArticle(article)" href="{{link(article)}}" ng-repeat="article in clipboard[date]" class="row-item"><span class="article-state {{article.state}}"></span><span>{{article.title}}</span><span class="pull-right">{{ article.publishdate | date: "yyyy-MM-dd" }}</span></a></div>
            </div>
          </div>
          <div class="fetchmore"><a ng-click="nextPage()" ng-show="skip + 20  &lt;= count">{{'GLOBAL.FETCHMORE' | translate}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>