div(kntnt-article-picker)
.container-fluid.main-content
  .row-fluid
    .span12.right-side
      .box.pad
        h2 {{ "CLIENT.TITLE" | translate }}
        content-table(items="clients", properties="properties", id="name", operations="operations")
        h3 {{ CLIENT.ADDNEW }}
        form.form.form-horizontal(name="addClientForm", ng-submit="addClient()")
          .form-group
            label.control-label(for="name") {{ "GLOBAL.NAME" | translate }}
            .controls
              input(type="text", name="name", ng-model="client.name", required)
          .form-group
            label.control-label(for="langcode") {{"CLIENT.REDIRECT_URI" | translate}}
            .controls
              input(type="text", name="redirectURI", ng-model="client.redirectURI", required)
          .form-actions
            input.btn.btn-primary(type="submit", value="{{'GLOBAL.SAVE' | translate}}")
