.wrapper
  .main-content
    .full
      .box.pad
        h1 {{ "CLIENT.TITLE" | translate }}
        content-table(items="clients", properties="properties", id="name", operations="operations")
        h2 {{ 'CLIENT.ADDNEW' | translate }}
        form.form(name="addClientForm", ng-submit="addClient()")
          .form-group
            label.control-label(for="name") {{ "GLOBAL.NAME" | translate }}
            .controls
              input(type="text", name="name", ng-model="client.name", required)
          .form-group
            label.control-label(for="langcode") {{"CLIENT.REDIRECT_URI" | translate}}
            .controls
              input(type="text", name="redirectURI", ng-model="client.redirectURI", required)
          .form-actions
            input.btn.btn-primary(type="submit", value="{{'GLOBAL.SAVE' | translate}}")
       h2 {{'CLIENT.CONENTTYPE' | translate}}
       kz-content-type-form(content-type="channel.template")
