
<div class="wrapper">
  <div class="main-content">
    <div class="full">
      <div class="box pad">
        <h1>{{ "CLIENT.TITLE" | translate }}</h1>
        <content-table items="clients" properties="properties" id="name" operations="operations"></content-table>
        <h2>{{ 'CLIENT.ADDNEW' | translate }}</h2>
        <form name="addClientForm" ng-submit="addClient()" class="form">
          <div class="form-group">
            <label for="name" class="control-label">{{ "GLOBAL.NAME" | translate }}</label>
            <div class="controls">
              <input type="text" name="name" ng-model="client.name" required="required"/>
            </div>
          </div>
          <div class="form-group">
            <label for="langcode" class="control-label">{{"CLIENT.REDIRECT_URI" | translate}}</label>
            <div class="controls">
              <input type="text" name="redirectURI" ng-model="client.redirectURI" required="required"/>
            </div>
          </div>
          <div class="form-actions">
            <input type="submit" value="{{'GLOBAL.SAVE' | translate}}" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>