div(kntnt-article-picker)
.wrapper
  .main-content
    .list(ng-class="{visible: article}")
      .box.pad
        div(kntnt-add-article, defaults="articleDefaults", article-created="articleCreated")
        div(kz-max-height="200")
          kntnt-clipboard-article-list(link-pattern="#/manage/:article/")
    .main-full
      .box.pad.info-message(ng-show="!article")
        h1 {{'MANAGE.TITLE' | translate}}
        p {{ 'MANAGE.DESCRIPTION' | translate }}
      .main
        .box.pad(ng-show="article")
          .pull-right.article-tools
            button.btn.btn-danger(ng-click="removeArticle(article)")
              i.icon-remove
              span {{ 'MANAGE.REMOVE' | translate }}
          ol.breadcrumb
            li
              a(ng-href="#/manage") {{'MANAGE.TITLE' | translate}}
            li.active
              {{article.title}}
          h2 {{article.title}}
          .publish-info(ng-show="publishInfo")
            .published(ng-show="publishInfo.done")
              .publish {{ 'MANAGE.PUBLISHEDTO' | translate }} {{channel.name}} {{publishInfo.performed * 1000 | date: 'yyyy-MM-dd HH:mm'}}
              .link
                a(href="{{publishInfo.resource_url}}") {{ 'MANAGE.GOTOARTICLE' | translate }}
            .planned(ng-show="!publishInfo.done")
              {{ 'MANAGE.PUBLISHINFO' | translate: translations }}
         kz-content-type-article-form(article="article")
        .box.pad.create-form(ng-show="article")
          kntnt-add-article-part(article="article")
      .additional(ng-show="article")
        .box.pad
          konzilo-article-form(article="article", use-auto-save="useSave")
