
<ng-form name="input-list">
  <div class="input-list">
    <ul class="items">
      <li ng-repeat="(key, item) in list" class="item">
        <div class="input-append">
          <input type="text" ng-model="ngModel[key]"/>
          <button ng-click="removeElement(item)" type="button" class="btn btn-link"><i class="icon-remove"></i></button>
        </div>
      </li>
      <li class="item">
        <div class="input-append">
          <input type="text" ng-model="element" placeholder="{{placeholder}}"/>
          <button ng-click="addElement()" class="btn btn-link"><i class="icon-plus"></i></button>
        </div>
      </li>
    </ul>
  </div>
</ng-form>