.file-upload
  form#fileupload(action="/file", method="POST",
    enctype="multipart/form-data", file-upload="options")
    input(type="file", name="files[]", multiple,
      ng-model="files", ng-disabled="disabled")
    .span5.fade(ng-class="{in: active()}")
      .progress.progress-success.progress-striped.active(
        file-upload-progress="progress()")
        .bar(ng-style="{width: num + '%'}")
          .progress-extended &nbsp;
     table.table.table-striped.files.ng-cloak
       tr(ng-repeat="file in queue")
         td {{file.name}}
         td
           button.btn.btn-link.cancel(type="button",
            ng-click="file.$cancel()") {{ 'GLOBAL.REMOVE' | translate }}
  button.btn.btn-primary(ng-click="submit()") {{'GLOBAL.UPLOAD' | translate }}
  dl
    dt {{'FILE.ALLOWDTYPES' | translate }}
    dd
      small(ng-repeat="info in bundleInfo.types") {{ info }},
