ng-form(name="imageform")
  .form-group
    label.control-label {{ 'IMAGE.ALT' | translate }}
    .controls
      input(type="text", name="alt", ng-model="settings.alt", required)
  .form-group
    label.control-label {{ 'GLOBAL.TITLE' | translate }}
    .controls
      input(type="text", name="title", ng-model="settings.title", required)
