.wrapper
  .main-content
    .list.box.pad
      form.form-inline.add-article(ng-submit="addLanguage()")
        .form-group
          select(name="language", ng-model="selectedLanguage", required)
            option(value="") {{'LANGUAGE.ADDNEW' | translate}}
            option(ng-repeat="(key, name) in defaultLanguages", value="{{key}}") {{name}}
        button.btn.btn-default.add-article
          i.icon-plus
      .languages
        .row-item(
          ng-repeat="item in languages",
          ng-class="{active: item.langcode == language.langcode}")
          a.block(ng-href="#/settings/languages/{{item.langcode}}") {{item.name}} [{{item.langcode}}]
          button.btn-link.clipboard-remove(ng-click="removeLanguage(item)")
            i.icon-remove
    .main-full
      .main(ng-show="language")
        .box.pad
          h1 {{language.name}}
          cmf-autosave-status(status="autosave")
          form.form.form-horizontal.article-description(name="editLanguageForm")
            .form-group
              label.control-label {{'LANGUAGE.STANDARDLANG' | translate}}
              .controls
                span(ng-show="language.default") {{'LANGUAGE.USEDASDEFAULT' | translate}}
                button.btn-default.btn(ng-click="setDefault(language)",
                  ng-show="!language.default") {{'LANGUAGE.SETDEFAULT' | translate}}
            .form-group
              label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
              .controls
                input(type="text", name="name", ng-model="language.name", required)
            .form-group
              label.control-label(for="langcode") {{ 'LANGUAGE.DIRECTION' | translate }}
              .controls
                select(type="text", name="name", ng-model="language.direction", required, ng-options="key as value for (key, value) in directions")
      .additional(ng-show="language")
        .tabbed-box
          tabset
            tab(heading="{{ 'GLOBAL.DISCUSSION' | translate }}")
              .pad
                konzilo-comments(ng-model="language.adminComments")
            tab(heading="{{'GLOBAL.NOTES' | translate}}")
              .pad
                markdown-editor(ng-model="language.adminNotes")
