.discussion
  .avatar
    .icon-profile
  .comment-wrapper(ng-repeat="(index, comment) in ngModel")
    .inner
      .image
        i.icon-user
      .info
        span.created
          span {{ 'COMMENT.WRITTENBY' | translate }} {{comment.username}}
          span.date  {{ comment.created | date: 'yyyy-MM-dd HH:mm' }}
        a.count.pull-right \#{{index + 1}}
        .comment.well {{ comment.comment }}
  form.form(ng-submit="newComment()")
    .comment-wrapper
      .inner
        .image
          i.icon-user
        .info
          a.count.pull-right \#{{ngModel.length + 1}}
          textarea.comment.input-block-level(placeholder="{{'COMMENT.WRITE' | translate}}", ng-model="comment")
          input.btn.btn-primary(type="submit", value="{{'GLOBAL.SEND' | translate}}")
