div(kntnt-article-picker)
.wrapper
  .main-content
    .list
      div(kntnt-clipboard-articles,
        link-pattern="#/plan/:_id",
        first-article="firstArticle",
        article-created="articleCreated")
    .main-full(ng-show="!article")
      .box.pad
        h1 {{ "PLAN.TITLE" | translate }}
        p {{ "PLAN.DESCRIPTION" | translate }}
    .main(ng-show="article")
      section.articleinfo
        .box.pad
          h2 {{ "PLAN.PLAN_TITLE" | translate }}
          konzilo-article-form(article="article")
    .additional(ng-show="article")
      .tabbed-box
        ul.nav.nav-tabs
          li.active
            a {{ "GLOBAL.DISCUSSION" | translate }}
        .inner.pad
          konzilo-comments(ng-model="article.comments")
