.author-picker
  author-form(author="author")
  .form-group
    label.control-label {{ 'AUTHOR.PICK' | translate }}
    .controls
      entity-reference(entity-type="Author", ng-model="author")
      .links
        a(ng-click="newAuthor()") {{ 'AUTHOR.NEW' | translate }}
