ng-form.form.form-horizontal(name="authorForm")
  .control-group
    label.control-label {{ 'GLOBAL.NAME' | translate }}
    .controls
      input(type="text", name="name", ng-model="author.name", required)
  .control-group
    label.control-label {{ 'GLOBAL.EMAIL' | translate }}
    .controls
      input(type="email", name="email", ng-model="author.email")
  .control-group
    label.control-label {{ 'AUTHOR.ABOUT' | translate }}
    .controls
      textarea(name="about", ng-model="author.about")
  .control-group
    label.control-label {{ 'GLOBAL.IMAGE' | translate }}
    .controls
      file-upload-list(limit=1, ng-model="images", bundle="media", ng-change="getImage()")
