div(kntnt-article-picker)
.wrapper
  .main-content
    .list(ng-class="{ visible: part }")
      .box.pad
        div(kntnt-clipboard-article-parts, kz-max-height="150", selected="part", link-pattern="#/order/:article/:part", part-created="partCreated")
    .main-full
      .box.pad.info-message(ng-show="!part")
        h1 {{ "ORDER.TITLE" | translate }}
        p {{ "ORDER.DESCRIPTION" | translate }}
      .main(ng-show="part", ng-class="{ visible: part }")
        .box.pad
          ol.breadcrumb(ng-show="part")
            li
              a(ng-href="#/order") {{'ORDER.TITLE' | translate}}
            li.active
              {{part.article.title}}
            li.active(ng-show="part")
              {{part.title}}
          h2 {{ "ORDER.PARTDESC" | translate }}
          cmf-autosave-status(status="autosave")
          form.form.form-horizontal(ng-submit="savePart()", name="partForm")
            .form-group
              label.control-label(for="title") {{ "GLOBAL.WORKINGTITLE" | translate }}
              .controls
                input(type="text", name="title", ng-model="part.title", required)
            .form-group
              label.control-label(for="submitter") {{ "GLOBAL.SUBMITTER" | translate }}
              .controls
                entity-reference(ng-model="part.submitter", entity-type="Provider")
            .form-group
              label.control-label(for="provider") {{ "GLOBAL.PROVIDER" | translate }}
              .controls
                entity-reference(ng-model="part.provider", entity-type="Provider")
            .form-group
              label.control-label(for="deadline") {{ "GLOBAL.DEADLINE" | translate }}
              .controls
                .publishdate
                  input(type="text", ng-model="part.deadline", placeholder="{{'GLOBAL.DATE' | translate}}",
                    datepicker-popup="yyyy-MM-dd", ng-change="changeDate()")
                .publishtime
                  input(type="text", ng-model="deadlinetime", ng-change="changeTime(deadlinetime, part.deadline)", placeholder="{{'GLOBAL.TIME' | translate}}")
            .form-group
              label.control-label(for="type") {{'GLOBAL.DELIVERY' | translate}}
              .controls
                select(name="type", ng-model="part.type", ng-options="key as value for (key, value) in types", required, ng-disabled="part.contentSaved")
            .form-group
              label.control-label(for="language") {{ 'GLOBAL.LANGUAGE' | translate }}
              .controls
                select(name="language", ng-model="part.language")
                  option(value="{{code}}", ng-repeat="(code, lang) in languages",
                    ng-selected="part.language == code || lang.default") {{lang.name}}
            .form-group
              label.control-label(for="terms") {{ 'GLOBAL.TERMS' | translate }}
              .controls
                file-upload-list(ng-model="part.terms", bundle="document", preview="false")
            .form-group
              label.control-label(for="assignment") {{ 'GLOBAL.ASSIGNMENT' | translate }}
              .controls
                textarea.input-block-level(ng-model="part.assignment", placeholder="Beskriv uppdraget här.")
      .additional(ng-show="part")
        kz-order-info(part="part")
