
<ng-form name="imageform">
  <div class="control-group">
    <label class="control-label">{{ 'IMAGE.ALT' | translate }}</label>
    <div class="controls">
      <input type="text" name="alt" ng-model="settings.alt" required="required"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ 'GLOBAL.TITLE' | translate }}</label>
    <div class="controls">
      <input type="text" name="title" ng-model="settings.title" required="required"/>
    </div>
  </div>
</ng-form>