.wrapper
  .main-content
    div(ng-class="{full: !channel, half: channel}")
      .box.pad
        h1 {{ 'CHANNEL.TITLE' | translate }}
        content-table(entity-type="Channel", properties="properties", query="query")
        h2 {{ 'CHANNEL.ADD_NEW' | translate }}
        form.form(name="addChannelForm", ng-submit="addChannel()")
          .form-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="newChannel.name", required)
          .form-group
            label.control-label(for="description") {{ 'GLOBAL.DESCRIPTION' | translate }}
            .controls
              textarea(name="description", ng-model="newChannel.description", required)
          .form-group
            label.control-label(for="endpoint") {{ 'GLOBAL.ENDPOINT' | translate }}
            .controls
              select(type="text", name="endpoint", ng-model="newChannel.endpoint", required)
                option(ng-repeat="endpoint in endpoints") {{endpoint.name}}
          .actions
            input.btn.btn-primary(type="submit", name="save", value="{{'GLOBAL.SAVE' | translate}}")
    .half(ng-show="channel")
      .box.pad
        h2 {{endpoint.name}}
        form.form(name="editChannelForm")
          cmf-autosave-status(status="autosave")
          .form-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="channel.name", required)
          .form-group
            label.control-label(for="description") {{ 'GLOBAL.DESCRIPTION' | translate }}
            .controls
              textarea(name="description", ng-model="channel.description", required)
          .form-group
            label.control-label(for="endpoint") {{ 'GLOBAL.ENDPOINT' | translate }}
            .controls
              select(type="text", name="endpoint", ng-model="channel.endpoint", required)
                option(ng-repeat="endpoint in endpoints") {{endpoint.name}}
