.wrapper
  .main-content
    .list.box.pad(ng-class="{visible: channel}")
      form.form-inline.add-article(name="addChannelForm", ng-submit="addChannel()")
        .form-group
          .controls
            input(type="text", name="name", ng-model="newChannel.name",
            required, placeholder="{{'CHANNEL.ADD_NEW' | translate}}")
        button.btn.btn-default.add-article
          i.icon-plus
      a.row-item(
        ng-repeat="item in channels",
        ng-href="#/settings/channels/{{item._id}}",
        ng-class="{active: item._id == channel._id}") {{item.name}}

    .main-full
      .main.box.pad(ng-show="channel")
        h2 {{channel.name}}
        form.form(name="editChannelForm")
          cmf-autosave-status(status="autosave")
          .form-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="channel.name", required)
          .form-group
            label.control-label(for="description") {{ 'GLOBAL.DESCRIPTION' | translate }}
            .controls
              textarea(name="description", ng-model="channel.description")
          .form-group
            label.control-label(for="endpoint") {{ 'GLOBAL.ENDPOINT' | translate }}
            .controls
              select(type="text", name="endpoint", ng-model="channel.endpoint")
                option(ng-repeat="endpoint in endpoints") {{endpoint.name}}
        .template(ng-show="endpoint")
          h2 {{'CHANNEL.TEMPLATE' | translate}}
          kz-content-type-form(content-type="channel.contentType", endpoint-type="endpoint.type")

      .additional(ng-show="channel")
        .tabbed-box
          tabset
            tab(heading="{{ 'GLOBAL.DISCUSSION' | translate }}")
              .pad
                konzilo-comments(ng-model="channel.adminComments")
            tab(heading="{{'GLOBAL.NOTES' | translate}}")
              .pad
                markdown-editor(ng-model="channel.adminNotes")
