.container-fluid.main-content
  .row-fluid
    .span12.right-side(ng-class="mainClass()")
      .box.pad
        h2 {{ 'CHANNEL.TITLE' | translate }}
        content-table(entity-type="Channel", properties="properties", query="query")
        h3 {{ 'CHANNEL.ADD_NEW' | translate }}
        form.form.form-horizontal(name="addChannelForm", ng-submit="addChannel()")
          .control-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="newChannel.name", required)
          .control-group
            label.control-label(for="description") {{ 'GLOBAL.DESCRIPTION' | translate }}
            .controls
              textarea(name="description", ng-model="newChannel.description", required)
          .control-group
            label.control-label(for="endpoint") {{ 'GLOBAL.ENDPOINT' | translate }}
            .controls
              select(type="text", name="endpoint", ng-model="newChannel.endpoint", required)
                option(ng-repeat="endpoint in endpoints") {{endpoint.name}}
          .actions
            input(type="submit", name="save", value="{{'GLOBAL.SAVE' | translate}}")
    .span6(ng-show="channel")
      .box.pad
        h2 {{endpoint.name}}
        form.form.form-horizontal(name="editChannelForm")
          cmf-autosave-status(status="autosave")
          .control-group
            label.control-label(for="name") {{ 'GLOBAL.NAME' | translate }}
            .controls
              input(type="text", name="name", ng-model="channel.name", required)
          .control-group
            label.control-label(for="description") {{ 'GLOBAL.DESCRIPTION' | translate }}
            .controls
              textarea(name="description", ng-model="channel.description", required)
          .control-group
            label.control-label(for="endpoint") {{ 'GLOBAL.ENDPOINT' | translate }}
            .controls
              select(type="text", name="endpoint", ng-model="channel.endpoint", required)
                option(ng-repeat="endpoint in endpoints") {{endpoint.name}}
