ng-form(name="input-list")
  .input-list
    ul.items
      li.item(ng-repeat="(key, item) in list")
        .input-group
          input(type="text",  ng-model="ngModel[key]")
          button.btn.btn-link(ng-click="removeElement(item)", type="button")
            i.icon-remove
      li.item
        .input-group
          input.form-control(type="text", ng-model="element", placeholder="{{placeholder}}", ng-enter="addElement()")
          button.btn.btn-link.input-group-btn(ng-click="addElement()")
            i.icon-plus
