
<div class="wrapper">
  <div class="main-content">
    <div ng-class="{full: !endpoint, half: endpoint}">
      <div class="box pad">
        <h1>{{'ENDPOINT.TITLE' | translate}}</h1>
        <content-table items="endpoints" properties="properties" id="name" selected="selected" operations="operations"></content-table>
        <h2>{{'ENDPOINT.ADDNEW' | translate}}</h2>
        <form name="addEndpointForm" ng-submit="addEndpoint()" class="form">
          <div class="form-group">
            <label for="name" class="control-label">{{'GLOBAL.NAME' | translate}}</label>
            <div class="controls">
              <input type="text" name="name" ng-model="newEndpoint.name" required="required"/>
            </div>
          </div>
          <div class="form-group">
            <label for="langcode" class="control-label">{{'GLOBAL.TYPE' | translate}}</label>
            <div class="controls">
              <select type="text" name="name" ng-model="type" required="required" ng-options="value.label for (key, value) in types"></select>
            </div>
          </div>
          <div ng-repeat="setting in type.settings" class="form-group">
            <label class="control-label">{{setting.label | translate }}</label>
            <div class="controls">
              <input type="text" ng-model="newEndpoint.settings[setting.name]" required="required"/>
            </div>
          </div>
          <div class="form-actions">
            <input type="submit" value="{{'GLOBAL.SAVE' | translate}}" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
    <div ng-show="endpoint" class="half">
      <div class="box pad">
        <h2>{{endpoint.name}}</h2>
        <form name="editEndpointForm" ng-submit="addEndpoint()" class="form">
          <cmf-autosave-status status="autosave"></cmf-autosave-status>
          <div class="form-group">
            <label for="name" class="control-label">{{'GLOBAL.NAME' | translate}}</label>
            <div class="controls">
              <input type="text" name="name" ng-model="endpoint.name" required="required"/>
            </div>
          </div>
          <div ng-repeat="setting in getSettings(endpoint.type)" class="form-group">
            <label class="control-label">{{setting.label | translate }}</label>
            <div class="controls">
              <input type="text" ng-model="endpoint.settings[setting.name]" required="required"/>
            </div>
          </div>
        </form>
        <form method="POST" action="/endpoint/{{endpoint.name}}/authorize">
          <div class="form-group">
            <div class="controls">
              <input type="submit" name="save" value="Auktorisera" class="btn-primary btn"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>